body {
    font-family: sans-serif;
    margin: auto auto;
    line-height: 1.6;
}

h1 {
    color: steelblue;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

.navbar ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar ul li a:hover {
  background-color: #111111;
}

.hero {
  height: 100vh;
  background-image: url("media/sipmBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* dark overlay */
}

.hero-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
}

#mainBody {
  text-align: center;
  position:relative;
  z-index: 1;
}
